.ui-tag {
  box-sizing: border-box;
  border: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  &_primary {
    background-color: var(--ui-tag-primary-background);
    border: 1px solid var(--ui-tag-primary-background);
    color: var(--ui-tag-primary-color);

    .icon {
      color:var(--ui-tag-primary-icon-color);
    }
  }

  &_secondary {
    background-color: var(--ui-tag-secondary-background);
    border: 1px solid var(--ui-tag-secondary-border-color);
    color: var(--ui-tag-secondary-color);

    .icon {
      color:var(--ui-tag-secondary-icon-color);
    }
  }
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s background-color, 0.2s opacity, 0.2s border-color;
}