.photo {
  height: 150px;
  width: 120px;
  color: #697079;
  background-color: #e6e6e9;
}

.book-item {
  box-shadow: -8px 8px 8px 4px rgba(0, 0, 0, 0.05);
}

.ui-title-2 {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.ui-body-1 {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.ui-body-2 {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
